body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:#F5EFEF ;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color:  #1D639D;
  height: 100px;
  padding: 0 50px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.navbar-large {
  height: 150px;
}

.logo {
  font-size: 2rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  width: 100%;
}

.search-form {
  margin-top: 20px;
}

.search-form input[type="text"] {
  padding: 10px;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.search-form button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #0066cc;
  color: #fff;
  margin-left: 10px;
  cursor: pointer;
}

.search-form button:hover {
  background-color: #0052a3;
}
.card-body {
  display: block;

 
  
}
.book-details {
  font-family: Arial, sans-serif;
  font-size: 16px;
}
.my-custom-font {
  font-family: Arial, sans-serif;
  font-size: 16px;
}
.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
}
@media screen and (max-width: 768px) {
  .container {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}
.link-bold {
  font-weight: bold;
}